* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

header {
  text-align: center;
  margin: 20px 0px;
}

nav {
  text-align: center;
  padding: 15px;
  margin: 20px 0px;
  background-color: rgb(0,221,0);
}

body > div {
  margin: auto;
  margin-top: 30px;
  width: 60%;
  height:800px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3%;
  padding: 5%;
}

header img {
  width: 25%;
}

header > h1 {
  color: rgb(0,221,0);
}

main > section {
  margin: 15px 0px;
  color: white;
}

section h2 {
  margin-left: 3px;
  display: inline-block;
}

section div:nth-child(1) {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 4px;
}

.carica {
  height: 30px;
  border-radius: 5%;
}

.bassa {
  width: 20%;
  background-color: rgb(190, 65, 65);
}

.media {
  width: 35%;
  background-color: rgb(245, 180, 83);
}

.alta {
  width: 60%;
  background-color: rgb(30, 195, 30);
}
